<div class="row">

	<div class="col-lg-1">
		<ul class="nav nav-pills nav-stacked span2" ng-controller="MakerToolCtrl">
			<li ng-repeat="tool in tools" ng-class="{active: tool == currentTool}"
			    ng-click="selectTool(tool)">
				<a class="glyphicon {{tool.icon}}" tooltip-placement="right"
				   tooltip="{{tool.hoverText}}"></a>
			</li>
		</ul>
	</div>

	<div class="col-lg-6">
		<google-map center="map.center" zoom="map.zoom" draggable="true" events="mapEvents">
			<marker ng-repeat="checkpoint in checkpoints" coords="checkpoint"
			        click="selectCheckpoint(checkpoint)"
			        icon="checkpoint == currentCheckpoint ? 'http://google.com/mapfiles/kml/paddle/orange-circle.png' : 'http://google.com/mapfiles/ms/micons/orange-dot.png'"></marker>
			<polyline ng-repeat="connection in connections" path="connection" clickable="true"></polyline>
		</google-map>
	</div>

	<ng-form name="checkpoint-details" ng-show="currentCheckpoint" class="col-lg-5">
		<h3>
			Checkpoint details
		</h3>

		<div class="input-group">
			<label>
				Checkpoint title
				<input type="text" ng-model="currentCheckpoint.title" class="form-control"
				       placeholder="enter title">
			</label>
		</div>

		<div class="input-group">
			<label>
				Checkpoint description
				<textarea ng-model="currentCheckpoint.description" class="form-control"
				          placeholder="write your story"></textarea>
			</label>
		</div>

	</ng-form>

</div>

<!--DEBUG 'CONSOLE'-->
<div class="row">
	<code>[currentCheckpoint] : {{currentCheckpoint}}</code>
	<br/>
	<code>[checkpoints]:</code>
	<ul>
		<li ng-repeat="checkpoint in checkpoints">
			<code ng-repeat="(key, prop) in checkpoint">[{{key}}] : {{prop}}</code>
		</li>
	</ul>
	<code>[connections]:</code>
	<ul>
		<li ng-repeat="connection in connections">
			<code>[from] : {{connection[0].id}} [to] : {{connection[1].id}}</code>
		</li>
	</ul>
</div>